* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
/*display flex acomoda para que el header quede a lo largo de la pagina*/
.header {
  display: flex;
  justify-content: space-between; /*Para ocupar el espacio entre los elementos de forma igual*/
  padding: 15px;
}

.header--img {
  width: 80px;
  height: 80px;
}

.header--list {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.header a:hover {
  text-decoration: underline;
}

.main--container {
  display: flex;
  width: 75%;
  margin: 20px auto;
  justify-content: space-between;
}

main .main--container .main--img {
  width: 300px;
  border-radius: 15px;
  padding: 10px;
}

.main--info {
  width: 50%;
}

.info--name {
  font-size: 22px;
  margin-bottom: 15px;
}

.info--description {
  font-size: 18px;
  margin-bottom: 10px;
}

.main--links {
  margin: 20px 0;
}

.main--link {
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 5px;
}

.main--link__salmon {
  background-color: salmon;
  color: white;
}

.main--link__transpatent {
  text-decoration: underline;
  color: black;
}

.main--social-media {
  display: flex;
}

.main--social-media h2 {
  font-size: 16px;
  margin-right: 10px;
}
